.mps{
    flex:5
}

.chartDiv{
    justify-content: center;
}

.slider3{
    padding:15px 10px;
    width:95%;
    display:flex;
    justify-content: center;
    align-items: center;
  }

.featured {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.featuredItem {
    flex: 1;
    margin: 0px 20px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.featuredTitle{
    font-size: 20px;
}

.featuredItemNoShadow {
    flex: 1;
    margin: 0px 20px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
}