.home{
	display:flex;
}
.midWrap{
    width:70%;
	padding: 100px 15px;
	margin-left: auto;
  	margin-right: auto;
}

.writings{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 80px;
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1.8s;
}

.writings2{
    opacity: 0;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-delay: 1.5s;
	animation-duration: 1.8s;
	animation-fill-mode: forwards;
	line-height: 30px;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}