.home{
	display:flex;
}
.midWrap{
    width:70%;
	padding: 100px 15px;
	margin-left: auto;
  	margin-right: auto;
}
html{
	scroll-snap-type: y mandatory;
}
section {
    display:grid;
    place-items: center;
    align-content: center;
    min-height: 120vh;
	scroll-snap-align: center;
}
.hidden{
    opacity:0;
    transition: all 1s;
	filter:blur(5px);
    transform: translateX(-50%);
}

.show{
    opacity:1;
    transition: 1;
	filter:blur(0);
    transform: translateX(0);
}