.architecture{
    flex: 5;
}

.mainWrapper{
    padding: 15px 15px
}

.imageStyle{
    display:flex;
    align-items: center;
    justify-content: center;
    max-width:1000px;
    background-color: aqua;
}